{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>여행 웹페이지</title>
  <link rel="stylesheet" href="{% static 'main_style.css' %}">
</head>
<body>

<header class="header">
  
  <div>
    <!-- 이미지 파일도 정적 파일로 처리 -->
    <!--<img src="{% static 'rogo.jpg.png' %}" alt="로고" class="logo"> -->
    <span class="title">여행하고 싶5</span> <!-- 탐험하다 구려서 바꿈 -->
  </div>
  <div class="nav-buttons">
    <!-- Django URL 패턴과 연동하여 페이지 이동 -->
    {% if user.is_authenticated %}
    <button class="button" onclick="window.location.href='{% url 'common:logout' %}'">{{ user.username }}(로그아웃)</button>
    <button class="button" onclick="window.location.href='{% url 'post' %}'">게시판</button>
    {% else %}
    <button class="button" onclick="window.location.href='{% url 'common:signup' %}'">회원가입</button>
    <button class="button" onclick="window.location.href='{% url 'common:login' %}'">로그인</button>
    {% endif %}
    </form>
  </div>
</header>

<div class="main-image"></div>

  <section class="section">
    <h2 class="section-title">지역별 여행지</h2>
    <div class="region" onclick="window.location.href='{% url 'post' %}?region=서울'">서울</div>
    <div class="region" onclick="window.location.href='{% url 'post' %}?region=경기도'">경기</div>
    <div class="region" onclick="window.location.href='{% url 'post' %}?region=제주도'">제주도</div>
  </section>

    <script>
        function filterByRegion(region) {
            window.location.href = "{% url 'post' %}?region=" + region;
        }
    </script>

</body>
</html>