{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>새 게시글 작성</title>
  <!-- 정적 CSS 파일 경로를 설정 -->
  <link rel="stylesheet" href="{% static 'posting_new_style.css' %}">
</head>
<body>
  <h1>새 게시글 만들기</h1>
  <div class="form-section">
    <!-- 게시글을 등록하기 위한 폼 -->
    <form action="{% url 'posting_new' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- 지역 선택 -->
      <label for="region">지역</label>
      {{ form.region }}<br>
      
      <!-- 여행지 입력 -->
      <label for="destination">여행지</label>
      {{ form.destination }}<br>
      
      <!-- 별점 선택 -->
      <label for="rating">별점</label>
      {{ form.rating }}<br>
      
      <!-- 해시태그 입력 -->
      <label for="hashtags">해시태그</label>
      {{ form.hashtags }}<br>

      <!-- 이미지 업로드 -->
      <label for="image">이미지 업로드</label>
      {{ form.image }}<br><br>

      <!-- 제목 입력 -->
      <label for="title">제목</label>
      {{ form.title }}<br>

      <!-- 내용 입력 -->
      <label for="content">내용</label>
      {{ form.content }}<br>
      
      <!-- 폼 제출 버튼 -->
      <input type="submit" value="등록" class="submit-button">
    </form>
  </div>
</body>
</html>
