{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <!-- 정적 CSS 파일 경로를 설정 -->
    <link rel="stylesheet" href="{% static 'post_style.css' %}">
</head>
<body>
    <!-- 헤더 섹션 -->
    <div class="header">
        <span class="title">여행하고 싶5</span>
        <div class="nav-buttons">
            <form action="{% url 'post' %}" method="GET" class="inner-search-form">
                <input type="text" name="kw" id="kw" class="search-input" placeholder="검색어를 입력하세요" minlength="2" maxlength="50">
                <button type="submit" class="search-button">검색</button>
            </form>
            {% if user.is_authenticated %}
                <button class="button" onclick="window.location.href='{% url 'index' %}'">홈</button>
                <button class="button" onclick="window.location.href='{% url 'common:logout' %}'">{{ user.username }}(로그아웃)</button>
                <!-- 내정보 버튼 -->
                <button class="button" onclick="window.location.href='{% url 'myinfo' %}'">내정보</button>
                <!-- 글쓰기 버튼 -->
                <button class="button" onclick="window.location.href='{% url 'posting_new' %}'">글쓰기</button>
            {% else %}
                <button class="button" onclick="window.location.href='{% url 'common:signup' %}'">회원가입</button>
                <button class="button" onclick="window.location.href='{% url 'common:login' %}'">로그인</button>
            {% endif %}
        </div>
    </div>
    
    <!-- 사이드바 섹션 -->
    <div class="sidebar">
        <!-- 평점 선택 셀렉트 박스 -->
        <div class="rating-select">
            <label for="rating">평점 :</label>
            <select name="rating" id="rating">
                <option value="">전체</option>
                <option value="★★★★★">★★★★★</option>
                <option value="★★★★☆">★★★★☆</option>
                <option value="★★★☆☆">★★★☆☆</option>
                <option value="★★☆☆☆">★★☆☆☆</option>
                <option value="★☆☆☆☆">★☆☆☆☆</option>
            </select>
        </div>
        <!-- 지역 선택 셀렉트 박스 -->
        <div class="region-select">
            <label for="region">지역 :</label>
            <select name="region" id="region">
                <option value="">전체</option>
                <option value="서울" {% if request.GET.region == "서울" %}selected{% endif %}>서울</option>
                <option value="경기도" {% if request.GET.region == "경기도" %}selected{% endif %}>경기도</option>
                <option value="제주도" {% if request.GET.region == "제주도" %}selected{% endif %}>제주도</option>
            </select>
        </div>
    </div>
    <div class="content">
        <!-- 게시물 목록을 출력하는 반복문 -->
        {% for post in posts %}
        <div class="post" data-rating="{{ post.rating }}" data-region="{{ post.region }}">
            <!-- 이미지 -->
                <div class="image-wrapper" style="text-align: center;">
                {% if post.image %}
                <img src="{{ post.image.url }}">
                {% endif %}
            </div>
            <!-- 이미지 다운로드 버튼 -->
            <form action="{% url 'download_image' post.id %}" method="GET" class="inline-form">
                <button type="submit" class="action-button">이미지 다운로드</button>
            </form>
            <!-- 게시물 제목 -->
            <h2>{{ post.title }}</h2>
            <!-- 게시물 내용 -->
            <p>{{ post.content }}</p>
            <!-- 별점 -->
            <p>{{ post.rating }}</p>
            <!-- 해시태그 -->
            <p>{{ post.hashtags }}</p>

            <div class="post-details">
                <p class="create-date">{{ post.create_date|date:"Y년 m월 d일" }} {% if post.create_date|date:"P" == "오후" %}오전{% else %}오후{% endif %}&nbsp;{{ post.create_date|date:"g:i" }}</p>
                <div class="action-buttons">
                    {% if user.is_authenticated and post.author == user %}
                    <form action="{% url 'posting_change' post.id %}" method="GET" class="inline-form">
                        <button type="submit" class="action-button">수정</button>
                    </form>
                    <form action="{% url 'posting_delete' post.id %}" method="POST" class="inline-form" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                        {% csrf_token %}
                        <button type="submit" class="action-button">삭제</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% block script %}
    <script type='text/javascript'>
        // 게시물 목록을 필터링하는 함수
        function filterPosts() {
            var rating = document.getElementById('rating').value;
            var region = document.getElementById('region').value;
            var posts = document.querySelectorAll('.post');
            posts.forEach(function(post) {
                var postRating = post.getAttribute('data-rating');
                var postRegion = post.getAttribute('data-region');
                if ((rating === '' || postRating === rating) && (region === '' || postRegion === region)) {
                    post.style.display = 'block';
                } else {
                    post.style.display = 'none';
                }
            });
        }

        // 이미지 다운로드 함수
        function downloadImage(imageUrl) {
            var link = document.createElement('a');
            link.href = imageUrl;
            link.download = 'image.jpg';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    
        // 페이지 로드 시 모든 게시물 표시
        window.addEventListener('load', function() {
            filterPosts();
        });
    
        // 평점 선택 시 필터링
        document.getElementById('rating').addEventListener('change', function() {
            filterPosts();
        });
    
        // 지역 선택 시 필터링
        document.getElementById('region').addEventListener('change', function() {
            filterPosts();
        });
    
        // 페이지 링크 클릭 시 페이지 값 설정 및 검색 폼 제출
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
    
        // 검색 버튼 클릭 시 검색어와 페이지 값 설정 및 검색 폼 제출
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 1;  // 검색 버튼을 클릭할 경우 1페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });

    </script>
    {% endblock %}
</body>
</html>