{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 확인 및 수정</title>
    <!-- 정적 CSS 파일 경로를 설정 -->
    <link rel="stylesheet" href="{% static 'myinfo_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>내 정보</h1>
        <div>
            <!-- 사용자 정보를 출력하고 수정 버튼을 통해 수정 페이지로 이동 -->
            <p><strong>ID:</strong> user@example.com</p>
            <p><strong>닉네임:</strong> user123</p>
            <p><strong>비밀번호:</strong> ********</p>
            <!-- 수정 버튼 -->
            <a href="{% url 'modify_user' %}"><input type="submit" value="회원 정보 수정"></a>
        </div>
    </div>
</body>
</html>